<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <meta name="x-apple-disable-message-reformatting" />
</head>

<body
  style="background-color: {{ theme.backgroundColor }}; font-family: {{ theme.fontFamily }} !important; padding-top: 2.5rem; padding-bottom: 2.5rem;">
  <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
    style="max-width: 37.5em; margin: 0 auto; padding-left: 1.5rem; padding-right: 1.5rem;">
    <tbody>
      <tr>
        <td>
          <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tbody>
              <tr>
                <td>
                  <table width="100%" role="presentation">
                    <tr>
                      <td>
                        <img
                          src="https://raw.githubusercontent.com/TeamShiksha/email-service/refs/heads/main/images/logo.png"
                          alt="Team Shiksha" width="100" height="50" style="display: block; border: none;" />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <p style="
              margin: 24px 0;
              font-size: 18px;
              line-height: 28px;
              color: {{ theme.textColor }};
            ">
            Hi {{ name }},
          </p>
          <img
            src="https://raw.githubusercontent.com/TeamShiksha/email-service/refs/heads/main/images/verification-img.png"
            alt="Ticket confirmed" style="width: 100%; height: auto; display: block; border: none;" />
          <p style="
              margin: 24px 0;
              font-size: 18px;
              line-height: 28px;
              color: {{ theme.textColor }};
            ">
            Your <strong>{{ eventName }}</strong> ticket is confirmed!<br />
            Ticket ID: <strong>{{ badgeNumber }}</strong>
          </p>
          <table width="100%" role="presentation" style="
              background-color: {{ theme.primaryColor }};
              border-radius: 20px;
              text-align: center;
            ">
            <tr>
              <td style="padding: 12px 20px;">
                <a href="{{ ticketLink }}" target="_blank" style="
                    font-size: 14px;
                    text-decoration: none;
                    color: {{ theme.buttonTextColor }};
                  ">
                  Get your ticket
                </a>
              </td>
            </tr>
          </table>
          <div style="height: 24px;"></div>
          <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tbody>
              <tr>
                <td height="16" style="line-height: 16px; font-size: 0;">&nbsp;</td>
              </tr>
            </tbody>
          </table>
          <table align="center" width="100%" border="0" role="presentation" style="margin-top: 0; margin-bottom: 16px;">
            <tr>
              <td style="
                  background-color: {{ theme.secondaryColor }};
                ">
                <a href="{{ googleCalendarLink }}" target="_blank" style="text-decoration: none;">
                  <table width="200" align="center" style="margin: 12px auto;">
                    <tr>
                      <td width="32" align="center">
                        <img src="https://img.icons8.com/color/48/google-calendar--v2.png" width="24" height="24" />
                      </td>
                      <td style="padding-left: 12px;">
                        <span style="
                            font-size: 14px;
                            font-weight: 500;
                            color: {{ theme.textColor }};
                          ">
                          Google
                        </span>
                      </td>
                    </tr>
                  </table>
                </a>

                <a href="{{ outlookCalendarLink }}" target="_blank" style="text-decoration: none;">
                  <table width="200" align="center" style="margin: 12px auto 20px;">
                    <tr>
                      <td width="32" align="center">
                        <img src="https://img.icons8.com/fluency/48/windows-calendar.png" width="24" height="24" />
                      </td>
                      <td style="padding-left: 12px;">
                        <span style="
                            font-size: 14px;
                            font-weight: 500;
                            color: {{ theme.textColor }};
                          ">
                          Outlook
                        </span>
                      </td>
                    </tr>
                  </table>
                </a>
              </td>
            </tr>
          </table>
          <p style="
              margin: 24px 0 8px;
              font-size: 18px;
              color: {{ theme.textColor }};
            ">
            Happy unforgettable events!
          </p>

          <p style="
              margin: 0 0 32px;
              font-size: 18px;
              color: {{ theme.textColor }};
            ">
            RSVP.KIM
          </p>
          <p style="
              font-size: 14px;
              line-height: 20px;
              color: {{ theme.textColor }};
            ">
            © 2025
            <a href="https://rsvp.kim" target="_blank" style="color: {{ theme.primaryColor }}; text-decoration: none;">
              RSVP.KIM
            </a>.
            All rights reserved.<br />
            Powered by
            <a href="https://team.shiksha/" target="_blank"
              style="color: {{ theme.primaryColor }}; text-decoration: none;">
              Team Shiksha
            </a>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
  </tr>
  </tbody>
  </table>
</body>

</html>