<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TeamShiksha Application</title>
  </head>

  <body
    style="
      margin: 0;
      font-family: Arial, sans-serif;
      padding: 20px;
      background: #e6f0ff;
    "
  >
    <div
      style="
        max-width: 550px;
        margin: auto;
        background: white;
        border-radius: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      "
    >
      <!-- Header-->
      <div
        style="
          text-align: center;
          padding: 40px 32px 32px;
          border-bottom: 1px solid #f3f4f6;
        "
      >
        <img
          src="https://raw.githubusercontent.com/TeamShiksha/email-service/refs/heads/prod/images/teamshiksha.png"
          alt="TeamShiksha"
          style="width: 200px; height: auto; display: block; margin: 0 auto"
        />

        <p
          style="
            color: #6b7280;
            font-size: 16px;
            font-weight: 500;
            margin: 12px 0 0;
            line-height: 1.4;
          "
        >
          A Growth Community For Everyone Who Wants To Learn
        </p>
      </div>

      <!-- Content -->
      <div style="padding: 32px 24px">
        <!-- Body -->
  <div
          style="
            text-align: left;
            color: #4b5563;
            font-size: 16px;
            line-height: 1.7;
          "
        >
          <p style="margin: 0 0 12px 0">
            Hi {{user}},
          </p>

          <p style="margin: 0 0 16px 0">
            Thank you for your interest in scheduling a mock interview with
            <strong style="color: #111827">TeamShiksha</strong>.
          </p>

          <p style="margin: 0 0 20px 0">
            We regret to inform you that we are unable to accommodate your booking request as the selected time slot(s) are currently unavailable.
          </p>

          <p style="margin: 0 0 20px 0">
            We kindly request that you submit a new booking request with alternative time preferences.
          </p>

          <p style="margin: 0 0 20px 0">
            Thank you for understanding, and we look forward to connecting with you soon.
          </p>
      
        </div>
       
        <div
          style="
            text-align: left;
            color: #4b5563;
            font-size: 16px;
            line-height: 1.7;
          "
        >

          <p style="margin: 0; color: #111827">
            Warm regards,<br />
            <strong>TeamShiksha</strong>
          </p>
        </div>
      </div>

      <!-- Footer -->
      <div
        style="
          padding: 24px 32px;
          text-align: center;
          color: #9ca3af;
          font-size: 12px;
          line-height: 1.5;
          border-top: 1px solid #f3f4f6;
        "
      >
        <p style="margin: 16px 0 8px 0">
          © 2025 TeamShiksha. All rights reserved.
        </p>
      </div>
    </div>
  </body>
</html>
